<div class="dashboard">
  <div class="row">
    <div class="col-md-4">
      <div class="tile red">
        <a href="#/list/tickets">
          <h3 class="title"><span class="glyphicon glyphicon-comment"></span> Tickets</h3>
          <p>Click to show all tickets</p>
        </a>
        <hr/>
        <a href="#/add/ticket">
          <span class="glyphicon glyphicon-edit"></span>
          Create a new ticket</a>
      </div>
    </div>
    <!--Customer button-->
    <div class="col-md-4">
      <div class="tile green">
        <a href="#/list/customers">
          <h3 class="title"><span class="glyphicon glyphicon-user"></span> Customers</h3>
          <p>Click to show all customers</p>
        </a>
        <hr/>
        <a href="#/add/customer"><span class="glyphicon glyphicon-edit"></span> Create a new customer</a>
      </div>
    </div>
    <!--Vendors button-->
    <div class="col-md-4">
      <div class="tile blue">
        <a href="#/list/vendors">
          <h3 class="title"><span class="glyphicon glyphicon-globe"></span> Vendors</h3>
          <p>Click to show all vendors</p>
        </a>
        <hr/>
        <a href="#/add/vendor"><span class="glyphicon glyphicon-edit"></span> Create a new vendor</a>
      </div>
    </div>
  </div>
</div>
