<div class="v_item" style="position: absolute; left: 0px; top: 0px;">
    <a href="#details:{{details}}" data-expand-width="col-9" data-transition-parent=".content-loader" data-external="true">
      <div class="inner">
          <div class="image">
              <div class="price average-color" style="background-color: rgb(142, 151, 148);"><span>{{price}}</span></div>
              <img ng-src="{{titleImg}}" alt="">
          </div>
          <div class="item-content">
              <header class="average-color" style="background-color: rgb(142, 151, 148);">
                  <h2>{{adTitle}}</h2>
                  <h3>{{adLocality}}</h3>
              </header>
              <footer>
                  <dl>
                      <dt>Brand</dt>
                      <dd>{{adBrand}}&nbsp;</dd>
                      <dt>Model</dt>
                      <dd>{{adModel}}&nbsp;</dd>
                      <dt>Kms Driven</dt>
                      <dd>{{kmsDriven}}&nbsp;</dd>
                      <dt>Year</dt>
                      <dd>{{makeYear}}&nbsp;</dd>
                  </dl>
              </footer>
          </div>
      </div>
    </a>
</div>
